.mainBG{
    background-attachment: local;
    background-image: url("https://i.postimg.cc/L6GbwjYs/31977-Apple-Inc-i-Mac-24-2021-Stock-wallpaper-Silver.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-input-placeholder {
    color: white;
}